# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# Include
!*.yaml
!.gitignore
!*.md
!sensors
!sensors/**
!python_scripts
!python_scripts/**
!blueprints
!blueprints/**
!esphome
!esphome/**
!custom_components
!custom_components/**
!zigbee2mqtt
!zigbee2mqtt/**
!www
!lovelace*


# Ignore folders.
.storage
.cloud
.google.token
*.log
*.log*
tts
*.db*
*.db


# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
#Zigbee2Mqtt :
zigbee2mqtt/coordinator_backup.json
zigbee2mqtt/state.json
zigbee2mqtt/coordinator_backup.json
zigbee2mqtt/state.json
*state.json
zigbee2mqtt/*.json
zigbee2mqtt/state.json
