# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
__pycache__/
**/__pycache__/
*.pyc
*.pyo
zigbee2mqtt/state.json
packages/refoss_ha
custom_components/bambu_lab/
scripts/unifi/*.json
scripts/unifi/*.txt

# Include
!*.yaml
!.gitignore
!*.md
!packages
!packages/**
!sensors
!sensors/**
!python_scripts
!python_scripts/**
!blueprints
!blueprints/**
!esphome
!esphome/**
!custom_components
!custom_components/**
!myelectricaldata
!myelectricaldata/**
!scripts
!scripts/**
!zigbee2mqtt
!www
!lovelace*


# Ignore folders.
.storage
.cloud
.google.token
*.log
*.log*
tts
*.db*
*.db

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
*.pyc

