homeassistant:
  packages: !include_dir_named sensors
  allowlist_external_dirs:
    - /config

# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /local/card-mod.js

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - 192.168.68.132

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

mqtt_statestream:
  base_topic: ha2evcc
  publish_attributes: false
  publish_timestamps: false
  include:
    entities:
      - sensor.consommation_reseau
      - sensor.consommation_batterie
      - sensor.consommation_borne
      - sensor.consommation_cumulus
      - sensor.consommation_maison
      - sensor.production_solaire
      - sensor.surplus_production
      - sensor.soc_estime_batterie
      - sensor.em06_02_b1_power
      - sensor.esphome_web_a92940_marstek_inverter_state

logbook:
  exclude:
    domains:
      - climate
      - device_tracker
      - update
    entity_globs:
      - sensor.estar*
      - sensor.*last_boot
      - sensor.*last_restart
      - binary_sensor.*motion_sensor
      - binary_sensor.estar*
      - binary_sensor.detection*
      - input_text.bronpi*
      - sensor.bronpi*
      - automation.*bronpi*
      - sensor.*vu_pour_la_derniere_fois
      - sensor.*marstek*
      - automation.*batterie*
      - sensor.estimation_temps_restant_batterie*
      - input_number.*frigo*
      - input_number.*frigo*
      - sensor.*frigo*
      - number.esphome_web_a92940_marstek_forcible_*
      - sensor.*json*
      - sensor.consommation_jour*

# Purge de la base
recorder:
  purge_keep_days: 7
  auto_repack: true
  auto_purge: true
  commit_interval: 60

system_log:
  fire_event: true

logger:
  default: info
  logs:
    homeassistant.components.scrape: info
    homeassistant.components.scrape.sensor: info
    homeassistant.components.rest: info
    homeassistant.components.automation.wled: error
    homeassistant.components.automation.wled_surplus: error
    homeassistant.components.automation.wled_prod: error
    homeassistant.components.automation.wled*: error
    homeassistant.components.gree.coordinator: error
    homeassistant.components.automation.gestion_radiateur: error
    homeassistant.components.websocket_api.http.connection: error
    homeassistant.components.automation.simulation_pv: error
    greeclimate.discovery: warning
    pyhap.hap_protocol: warning
    root: warning
    aioesphomeapi.reconnect_logic: error
    custom_components.tuya_local.climate: info
    custom_components.aguaiot: info
    py.warnings: error
    aioesphomeapi.connection: error
    homeassistant.loader: error
    homeassistant.helpers.frame: error
    custom_components.bambu_lab.pybambu: error
    custom_components.bbox.coordinator: error
    homeassistant.components.recorder.db_schema: error

my:
