cycle: 14400
debug: true
home_assistant:
  discovery: true
  discovery_prefix: homeassistant
  enable: true
home_assistant_ws:
  enable: true
  ssl: true
  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIyYmY0ZTcwZGQyOWE0OGJhOGY0OGJiMjdlYTg4YTZkOCIsImlhdCI6MTczMzc1MzY5MCwiZXhwIjoyMDQ5MTEzNjkwfQ.AxnyMlqz1vX5AZXuJcaoK4iQtT94M0-K7xveyHpNeek
  url: https://8srjdkmbbkboq1rgiyskaqxooel9paqp.ui.nabu.casa/
influxdb:
  batching_options:
    batch_size: 1000
    exponential_base: 2
    flush_interval: 1000
    jitter_interval: 0
    max_retries: 5
    max_retry_delay: 125000
    max_retry_time: 180000
    retry_interval: 5000
  bucket: myelectricaldata
  enable: false
  hostname: influxdb
  method: asynchronous
  org: myelectricaldata
  port: 8086
  token: myelectricaldata
log2file: false
mqtt:
  client_id: myelectricaldata
  enable: true
  hostname: core-mosquitto.local.hass.io
  password: mqtt
  port: 1883
  prefix: myelectricaldata
  qos: 0
  retain: true
  username: mqtt
myelectricaldata:
  "16127930466069":
    addresses: "true"
    cache: true
    consumption: true
    consumption_detail: true
    consumption_detail_max_date: "2022-06-01"
    consumption_max_date: "2022-06-01"
    consumption_max_power: true
    consumption_price_base: 0.19078
    consumption_price_hc: 0.03598
    consumption_price_hp: 0.21780
    enable: true
    name: Talence
    offpeak_hours_0: 15H00-17H00
    offpeak_hours_1: 15H00-17H00
    offpeak_hours_2: 15H00-17H00
    offpeak_hours_3: 15H00-17H00
    offpeak_hours_4: 15H00-17H00
    offpeak_hours_5: 15H00-17H00
    offpeak_hours_6: 15H00-17H00
    plan: HC/HP
    production: true
    production_detail: true
    production_detail_max_date: "2025-03-13"
    production_max_date: "2025-03-13"
    production_price: 0.127
    refresh_addresse: false
    refresh_contract: false
    token: Cx8C2mCiLa49Ze326F6YRVbhmmKjmlc3tCRSXX_pZdE=
wipe_influxdb: false
