substitutions:
  name: esp32-3
  friendly_name: ESP32-FAN

esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  min_version: 2024.6.0
  name_add_mac_suffix: false
  project:
    name: esphome.web
    version: dev


esp32:
  board: esp32dev
  framework:
    type: esp-idf

bluetooth_proxy:
    active: True

# Enable logging
logger:

# Enable Home Assistant API
api:

# Allow Over-The-Air updates
ota:
  - platform: esphome

# Allow provisioning Wi-Fi via serial
improv_serial:

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: !secret wifi_ssid_fallback
    password: !secret wifi_password_fallback
# In combination with the `ap` this allows the user
# to provision wifi credentials to the device via WiFi AP.
captive_portal:

# Sets up Bluetooth LE (Only on ESP32) to allow the user
# to provision wifi credentials to the device.
#esp32_improv:
#  authorizer: none

# To have a "next url" for improv serial
web_server:

output:
  - platform: ledc
    pin: GPIO22
    id: fan_pwm
    frequency: 25000 Hz
    inverted: true
    min_power: 30%
    max_power: 100%

fan:
  - platform: speed
    id: fan_4pin
    name: "Baie PWM Fan"
    output: fan_pwm
    restore_mode: RESTORE_DEFAULT_OFF

switch:
  - platform: output
    name: "Fan Baie PWM"
    output: fan_pwm

one_wire:
  - platform: gpio
    # Déclaration de la broche détaillée
    pin:
      number: GPIO19
      # Ceci active le pull-up interne du microcontrôleur
      mode: INPUT_PULLUP
sensor:
  - platform: pulse_counter
    pin:
      number: GPIO23
      mode:
        input: true
        pullup: false        # tu as déjà ta résistance 10k externe vers 3.3V
    name: "Baie Fan RPM"
    update_interval: 5s      # ou 30s si tu veux lisser un peu
    internal_filter: 10us    # filtre les parasites
    filters:
      - multiply: 0.5        # 2 impulsions par tour -> divise par 2
      - lambda: 'return round(x / 50.0f) * 50.0f;'  # arrondi aux 50 tr/min
    unit_of_measurement: "RPM"
    accuracy_decimals: 0

  - platform: dallas_temp
    address: 0x37000000598eda28   # remplace après détection
    name: "Baie Temperature"
    update_interval: 10s
    accuracy_decimals: 1